:root{

  /* Color */
  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);


  /* Typography */

  --font-family-bold: 'Outfit bold';
  --font-family-meduim: 'Outfit medium';
  --font-family-regular: 'Outfit regular';
  --font-family-semibold: 'Outfit semibold';
  --font-family-extrabold: 'YoungSerif extrabold';

  --font-family-default: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  /* repeated measurement */

  --10px: 0.625rem;
  --13px: 0.8125rem;
  --12px: 0.75rem;
  --15px: 0.9375rem;
  --20px: 1.25rem;
  --30px: 1.875rem;
  --18px: 1.125rem; 


}

@font-face {
  font-family: 'Outfit medium';
  src: url(Outfit-Medium.ttf)
  format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit regular';
  src: url(Outfit-Regular.ttf)
  format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit bold';
  src: url(Outfit-Bold.ttf)
  format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit semibold';
  src: url(Outfit-SemiBold.ttf)
  format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'YoungSerif extrabold';
  src: url(YoungSerif-Regular.ttf)
  format('truetype');
  font-weight: 800;
  font-display: swap;
}

*,
*::before,
*::after{
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: var(--Stone-100);
  justify-content: center;
  font-family: var(--font-family-regular), var(--font-family-default);
  font-size: 16px;
}


#main{
  margin-top: var(--30px);
  display: flex;
  flex-direction: column;
  height: auto;
  gap: var(--30px);
  align-items: center;
}

/* Container */

.container{

  width: 40vw;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--White);
  border-radius: var(--15px);
  justify-content: center;
  align-items: center;
  
}

/* Hero */

.hero{
  display: flex;
  flex-direction: column;
  gap: var(--20px);
  margin-bottom: var(--20px);
  margin: var(--20px);
}

.hero img{
  width: 100%;
  border-radius: var(--10px);
}

.hero h1{
  font-size: 1.4375rem;
  font-family: var(--font-family-extrabold), var(--font-family-default);
  color: var(--Stone-900);
}

.hero p{
  color: var(--Stone-600);
  font-size: var(--12px);
  line-height: 1.3;
}

/* Preparation Time */

.preparation-time{
  background-color: var(--Rose-50);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--10px); 
  border-radius: var(--10px);
  width: 92%;
  justify-content: center;
  align-items: center;
}

.preparation-time >*{
  margin: var(--20px);
}

.preparation-time h2{
  font-size: var(--15px);
  color: var(--Rose-800);
  font-family: var(--font-family-bold), var(--font-family-default);
  margin-bottom: var(--10px);
}

.preparation-time ul{
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--10px);
}
.preparation-time ul li{
  color: var(--Stone-600);
  font-size: var(--12px);
  margin-left: -10px;
}

.preparation-time ul li strong{
  color: var(--Stone-900);
  font-family: var(--font-family-semibold), var(--font-family-default);
  margin-left: var(--15px);
  margin-right: 3px;
}


/* Ingredients */

.ingredients{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--Stone-150);
  margin: var(--20px);
  width: 92%;
}

.ingredients > *{
  margin: 0px;
}

.ingredients h3{
  color: var(--Brown-800);
  font-family: var(--font-family-extrabold), var(--font-family-default);
  font-size: var(--20px);
  margin-bottom: var(--10px);
}

.ingredients ul{
  margin-top: 0px;
  margin-bottom: var(--20px);
}

.ingredients ul li{
  color: var(--Stone-600);
  font-size: var(--12px);
  margin-bottom: var(--10px);
}

.ingredients ul li p{
  margin-left: var(--15px);
}

/* Instructions  */

.instructions{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-bottom: 1px solid var(--Stone-150);
    margin-top: 0px;
    margin: var(--20px);
}

.instructions h4{
  font-size: var(--20px);
  font-family: var(--font-family-extrabold), var(--font-family-default);
  margin-bottom: var(--10px);
  color: var(--Brown-800);
}

.instructions ol{
  margin-top: 0px;
  margin-bottom: var(--20px);
  font-size: var(--12px);
  color: var(--Brown-800);
}

.instructions ol li p{
  color: var(--Stone-600);
  font-size: var(--12px);
  margin-bottom: var(--10px);
  margin-left: var(--15px);
}

.instructions ol li p strong{
  color: var(--Stone-900);
  font-family: var(--font-family-semibold), var(--font-family-default);
  margin-right: 3px;
}

/* Nutrition */

.nutrition{
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
   margin: var(--20px);
   width: 92%;
   margin-bottom: var(--30px);
}

.nutrition h5{
  font-size: var(--20px);
  font-family: var(--font-family-extrabold), var(--font-family-default);
  margin-bottom: var(--10px);
  color: var(--Brown-800);
  margin-top: 0px;
}

.nutrition p{
  font-size: var(--12px);
  color: var(--Stone-600);
  margin-bottom: var(--20px);

}

.nutrition table{
  display: grid;
  grid-template-columns: 1fr;
 
}

.nutrition tr{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--Stone-150);

}

.nutrition tr>*{
  flex: 1;
}

.td-1{
  color: var(--Stone-600);
  font-size: var(--12px);
  margin: var(--10px);
}

.td-2{
  color: var(--Brown-800);
  font-family: var(--font-family-bold), var(--font-family-default);
  font-size: var(--12px);
  margin: var(--10px);
}

/* Attribution */

.attribution { 
  font-size: 12px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media (max-width: 800px) {
  .container{
    width: 60vw;
  }
}

@media (min-width: 200px) and (max-width: 450px) {
  body{
    width: 100vw;
    height: 100%;
    position: relative;
    background-color: var(--White);
  }
  
  #main{
    width: 100vw;
    height: 100%;
    gap: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
 
  }

  .container{
    width: 100%;
    height: 100%;
    border-radius: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
  }
  /*  Hero */
  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .hero > :nth-child(1){
    margin-top: -10vw;
  }

  .hero img{
    width: 120vw;
    border-radius: 0px; 

  }
  .hero h1{
    font-size: 22px;
    max-width: 50%;
    margin-right: 25vw;
  }
  
  .hero p{
    font-size: 11px;
    max-width: 85vw;
  }

  /* Preparation time */
  .preparation-time{
    width: 80%;
  }

  .preparation-time h2{
    font-size: var(--13px);
  }

  .preparation-time ul li{
    font-size: 11px;
  }

  /* Ingredients */

  .ingredients {
    max-width: 80vw;
    margin-right: 5vw;
  }

  .ingredients h3{
    font-size: var(--18px);
  }

  .ingredients ul li{
    font-size: 11px;
  }

  /* instructions */

  .instructions{
    max-width: 80vw;
    margin-right: 5vw;
  }
  .instructions h4{
    font-size: var(--18px);
  }

  .instructions ol li p,
  .instructions ol li{
    font-size: 11px;
  }

  /* Nutrition */

  .nutrition{
    max-width: 80vw;
    margin-right: 5vw;
  }

  .nutrition h5{
    font-size: var(--18px);
  }

  .nutrition p{
    font-size: 11px;
  }

  .td-1,
  .td-2{
    font-size: 11px;
  }

  .attribution{
    font-size: 11px;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: .5px;
  }

}